/*
* Margin top utilites
*/

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

/*
* Margin right utilites
*/

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.mr-5 {
  margin-right: 3rem !important;
}

/*
* Margin bottom utilites
*/

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

/*
* Margin left utilites
*/

.ml-1 {
  margin-left: rem(4px) !important;
}

.ml-2 {
  margin-left: rem(8px) !important;
}

.ml-3 {
  margin-left: rem(16px) !important;
}

.ml-4 {
  margin-left: rem(24px) !important;
}

.ml-5 {
  margin-left: rem(48px) !important;
}

.ml-auto {
  margin-left: auto !important;
}

/*
* Margin top and bottom utilites
*/

.my-1 {
  margin-top: rem(4px) !important;
  margin-bottom: rem(4px) !important;
}

.my-2 {
  margin-top: rem(8px) !important;
  margin-bottom: rem(8px) !important;
}

.my-3 {
  margin-top: rem(16px) !important;
  margin-bottom: rem(16px) !important;
}

.my-4 {
  margin-top: rem(24px) !important;
  margin-bottom: rem(24px) !important;
}

.my-5 {
  margin-top: rem(48px) !important;
  margin-bottom: rem(48px) !important;
}

/*
* Margin left and right utilites
*/

.mx-1 {
  margin-left: rem(4px) !important;
  margin-right: rem(4px) !important;
}

.mx-2 {
  margin-left: rem(8px) !important;
  margin-right: rem(8px) !important;
}

.mx-3 {
  margin-left: rem(16px) !important;
  margin-right: rem(16px) !important;
}

.mx-4 {
  margin-left: rem(24px) !important;
  margin-right: rem(24px) !important;
}

.mx-5 {
  margin-left: rem(48px) !important;
  margin-right: rem(48px) !important;
}

// margin

.m-0 {
  margin: 0 !important;
}

.m-auto {
  margin: auto !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

// Negative margins (e.g., where `.mb-n1` is negative version of `.mb-1`)
@each $size, $length in $spacers {
  @if $size != 0 {
    .m-n#{$size} {
      margin: -$length !important;
    }
    .mt-n#{$size},
    .my-n#{$size} {
      margin-top: -$length !important;
    }
    .mr-n#{$size},
    .mx-n#{$size} {
      margin-right: -$length !important;
    }
    .mb-n#{$size},
    .my-n#{$size} {
      margin-bottom: -$length !important;
    }
    .ml-n#{$size},
    .mx-n#{$size} {
      margin-left: -$length !important;
    }
  }
}

@for $i from 0 through 150 {
  .m-px-#{$i * 5} {
    margin: #{$i * 5}px !important;
  }

  .mt-px-#{$i * 5} {
    margin-top: #{$i * 5}px !important;
  }

  .mb-px-#{$i * 5} {
    margin-bottom: #{$i * 5}px !important;
  }

  .ml-px-#{$i * 5} {
    margin-left: #{$i * 5}px !important;
  }

  .mr-px-#{$i * 5} {
    margin-right: #{$i * 5}px !important;
  }

  .mx-px-#{$i * 5} {
    margin-left: #{$i * 5}px !important;
    margin-right: #{$i * 5}px !important;
  }

  .my-px-#{$i * 5} {
    margin-top: #{$i * 5}px !important;
    margin-bottom: #{$i * 5}px !important;
  }
}
