{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "rules": {
    "indentation": 2,
    "at-rule-empty-line-before": null,
    "function-comma-space-after": null,
    "declaration-block-no-shorthand-property-overrides": null,
    "no-empty-source": null,
    "no-descending-specificity": null,
    "selector-pseudo-element-colon-notation": null,
    "at-rule-no-unknown": null,
    "block-opening-brace-space-before": "always",
    "block-opening-brace-newline-after": "always",
    "block-closing-brace-newline-before": "always"
  }
}
