@import '@/assets/scss/components/mixins/breakpoint';
@import '@/assets/scss/components/variables';

$backgroundOverview: #efefe9;
$colorBreadcum: #6f6f6f;
$backgroundTaskCode: #d5e3bd;
$backgroundItemTransaction: #d3d2c9;

.header-container {
  margin-bottom: 18px;

  & > button {
    font-size: 12px !important;
    padding: 0 !important;
    height: 18px !important;
    line-height: 18px !important;
    display: flex;
    align-items: center;

    @include breakpoint(768px) {
      display: flex;
      align-items: center;
      margin: 0 0 20px 16px;
    }

    & > span > svg {
      @include breakpoint(768px) {
        width: 10px;
        height: 10px;
      }
    }
  }
  & .prev-next__task {
    margin-left: auto;
    font-size: 12px;
    @include breakpoint(768px) {
      display: none !important;
    }
  }
}

.task-container {
  padding-top: 0px;

  @include breakpoint(768px) {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
  }

  & .task-code {
    top: 0;
    left: 0;
    display: flex;
    position: absolute;
    align-items: center;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: $backgroundTaskCode;

    & > span {
      font-size: 12px;
      color: $text-color;
      padding: 2px 14px;
    }
  }

  & .btn-list_edit_start {
    & > button {
      font-size: 14px;
      @include breakpoint(768px) {
        padding: 0px !important;
        margin-right: 5px !important;
        min-width: 100px !important;

        & > span {
          font-size: 14px;
        }

        &:last-child {
          margin-right: 0px !important;
        }
      }
    }
  }

  & .breabcrum-list {
    & .text-breadcrum {
      color: $colorBreadcum;
      font-size: 12px;

      @include breakpoint(768px) {
        font-size: 10px !important;
      }
    }

    & > span {
      @include breakpoint(768px) {
        margin: 0 6px !important;
      }
    }

    @include breakpoint(768px) {
      & > span > svg {
        width: 5px;
        height: 10px;
      }
    }
  }

  .breadcrumb {
    margin-bottom: 4px;
  }

  & .task-detail__title {
    margin-bottom: 0px;
    font-size: 24px;
    color: $text-color;
    line-height: 36px;
    margin-bottom: 4px;
  }

  & .list-schedule {
    margin-bottom: 20px;

    @include breakpoint(768px) {
      flex-direction: column;
      margin-bottom: 4px;
    }

    & .list-schedule__horizontal {
      @include breakpoint(768px) {
        flex-wrap: wrap;
        font-size: 12px;

        & > div {
          margin-right: 10px !important;
          margin-top: 6px;
        }
      }
    }

    & .list-schedule__datetime {
      color: $colorBreadcum !important;
      font-size: 12px;
      margin-bottom: 0 !important;

      @include breakpoint(768px) {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        font-size: 10px;
      }
    }
  }

  & .modal-overview {
    margin-bottom: 40px;
    padding: 24px 20px;
    background-color: $backgroundOverview;

    @include breakpoint(768px) {
      padding: 15px;
      margin-bottom: 20px;

      & > div {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .title-modal-overview {
      margin: 0px !important;
      margin-right: 14px !important;
      font-size: 16px !important;
      flex: 0 0 32px;

      @include breakpoint(768px) {
        font-size: 14px !important;
      }
    }

    .content-modal-overview {
      margin: 0px !important;
      font-size: 14px;
      word-break: break-word;
      white-space: pre-line;

      @include breakpoint(768px) {
        margin-top: 4px;
        font-size: 12px !important;
      }
    }

    .icon-no-data-modal-overview {
      @include breakpoint(768px) {
        margin-top: 4px;
      }
    }

    & > hr {
      border: 1px solid $border-color;
      margin: 15px 0;

      @include breakpoint(768px) {
        margin: 9px 0;
      }
    }
  }

  & .task-modal {
    & > h4 {
      font-size: 16px;
      @include breakpoint(768px) {
        font-size: 14px;
      }
    }

    & .task-table {
      @include breakpoint(480px) {
        margin-right: -20px;
        overflow: auto;
      }
      table > thead > tr > th {
        &:nth-child(2),
        &:nth-child(3) {
          @include breakpoint(480px) {
            min-width: 225px !important;
          }
        }
      }
    }

    & .task-modal__table {
      flex-direction: column;
      margin-top: 26px;
      font-size: 12px;

      & > div {
        @include breakpoint(768px) {
          display: block;

          & > svg {
            @include breakpoint(768px) {
              margin: 8px 5px;
            }
          }
        }

        &:not(:last-child) {
          margin-bottom: 10px;

          @include breakpoint(768px) {
            display: block;
            margin-bottom: 0;
          }
        }
      }

      & .item-work {
        &-button {
          min-width: 125px;
          padding: 2px 22px;
          background-color: $backgroundOverview;
          border-radius: 5px;
          font-size: 12px;
          color: $text-color;
          margin-right: 10px;
          align-items: center;
          justify-content: center;

          @include breakpoint(768px) {
            width: 100%;
            min-height: 28px;
            margin-bottom: 0;
            padding: 2px 10px;
            justify-content: start;
          }
        }

        &-attachment {
          flex-direction: column;
          justify-content: center;
          margin-left: 4px;

          & > div {
            margin-bottom: 8px;

            &:last-child {
              margin-bottom: 0;

              @include breakpoint(768px) {
                margin-bottom: 8px;
              }
            }

            @include breakpoint(768px) {
              align-items: baseline;
            }

            & > svg {
              @include breakpoint(768px) {
                width: 12px;
                height: 12px;
              }
            }

            & > a {
              color: $text-color;
              font-size: 12px;
              & > span {
                margin-left: 10px;

                @include breakpoint(768px) {
                  margin-left: 5px;
                }
              }
            }
          }

          &:last-child {
            @include breakpoint(768px) {
              align-items: baseline;
              margin-top: 3px;
            }
          }

          & .task-notice__title {
            font-size: 12px;
          }
        }
      }
    }
  }

  & .task-collapse {
    margin-top: 30px;

    & .task-collapse_changelog {
      color: $text-color;
    }
  }
}

.transaction-container {
  & .header-transaction {
    margin-top: 40px !important;

    @include breakpoint(768px) {
      margin-left: 16px;
    }
  }

  & .transacton-no-record {
    background-color: $gray-250;
    color: $text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px 0;
    font-size: 16px;
    margin-bottom: 20px;
  }

  & .body-transaction {
    &:not(:last-child) {
      margin-bottom: 20px !important;
    }
    & .title-item-transaction {
      color: $text-color;
    }
    & .item-modal-transaction {
      background-color: $backgroundOverview;
      position: relative;
      border-radius: 5px !important;
      padding: 40px 25px 18px 25px;
      margin-bottom: 20px;
      scroll-margin: 80px;

      & .display-btn-transaction {
        position: absolute;
        right: 20px;
        top: 20px;
      }

      & .item-transaction__status {
        & > span {
          position: absolute;
          top: 0;
          left: 0;
          width: 70px;
          padding: 5px;
          font-size: 12px;
          color: $white;
          font-weight: $fw-bold;
          border-bottom-right-radius: 5px;
          border-top-left-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;

          @include breakpoint(768px) {
            width: 60px;
            height: 35px;
          }
        }

        &--open {
          background-color: $transaction-status-open-color;
        }
        &--doing {
          background-color: $transaction-status-doing-color;
        }
        &--completed {
          background-color: $transaction-status-completed-color;
        }
      }

      & > hr {
        border: 1px solid $border-color;
        margin: 25px 0px;

        @include breakpoint(768px) {
          margin: 15px 0px;
        }
      }
    }
    & .btn-transaction {
      min-height: 30px;

      @include breakpoint(768px) {
        min-height: 40px;
        min-width: 90px !important;
      }

      &-edit {
        border: 1px solid $modal-close-border-color;
        color: $text-color;
        background-color: $white;
        &:hover {
          border-color: #16962b !important;
        }
      }

      &-get {
        color: $white !important;
        background-color: $green;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    & .title-transaction__modal {
      margin-top: 15px;
      margin-bottom: 20px;
      border-bottom: 1px solid $border-color;

      @include breakpoint(768px) {
        margin-top: 35px;
      }

      & > h4 {
        font-size: 18px;
        @include breakpoint(768px) {
          font-size: 18px;
        }
      }

      & > div {
        @include breakpoint(768px) {
          flex-direction: column;
        }

        & .item-infor-transaction {
          font-size: 12px;
          color: $text-color;

          @include breakpoint(768px) {
            margin-left: 0 !important;
          }

          &:not(:first-child) {
            margin-left: 20px;

            @include breakpoint(768px) {
              margin-top: 8px;
            }
          }

          & > span:first-child {
            display: inline-flex;
            align-items: center;
            min-width: 65px;
            min-height: 23px;
            padding: 2px 14px;
            font-size: 12px;
            background-color: $backgroundItemTransaction;
            border-radius: 5px;
            margin-right: 10px;
          }
        }

        &:last-child {
          margin-bottom: 20px;
        }
      }
    }

    & .table-task-work-record {
      padding: 5px 20px;
      border-radius: 5px;
      &-complete {
        background-color: $table-header-bg;
      }
      &-inprogress {
        background-color: $white;
      }
    }

    & .procedure-note {
      align-items: center;
      color: $text-color;

      @include breakpoint(768px) {
        align-items: flex-start;
        font-size: 12px;
      }

      > svg {
        min-width: 26px;
      }

      > div {
        word-break: break-word;
      }
    }
  }
}

.table-task-detail {
  margin-bottom: 10px;

  :global {
    .ant-table-cell {
      border: 1px solid $table-header-bg !important;
    }

    .ant-table-tbody {
      > tr {
        &:not(:last-child) {
          > td {
            border-bottom: 0 !important;
          }
        }

        > td {
          background-color: $gray-250 !important;

          &:not(:last-child) {
            border-right: 0 !important;
          }
        }
      }
    }
  }
}

.inactive-task {
  border-radius: 5px;
  background-color: $submenu-active-bg;
  padding: 24px 10px 16px !important;
  margin-bottom: 30px;
  text-align: center;

  .title {
    font-size: 16px !important;
    font-weight: $fw-bold !important;
    color: $text-color;
    line-height: 24px;
    margin-bottom: 2px !important;
  }

  .sub-title {
    font-size: 14px !important;
    color: $text-color !important;
    line-height: 24px;
    margin-bottom: 8px !important;
  }

  @include breakpoint(768px) {
    padding: 20px 10px !important;
  }
}

.button-to-comment {
  &:hover {
    rect {
      fill: $green;
    }
  }
}