@import '@/assets/scss/components/variables';
@import '@/assets/scss/components/mixins/px-to-rem';

.guide-card {
  padding: 20px;
  background: $upload-container-bg;
  margin-top: 10px;
  border-radius: 5px;
  color: $text-color;
  text-align: center;
  line-height: 22px;
  font-size: 12px;

  :global {
    .ant-typography {
      color: $text-color;
    }

    .ant-btn {
      color: $text-color;
      font-size: 12px;
      height: 28px;

      &:hover {
        color: $green;
        border-color: $green;
      }
    }
  }
}

.button-download-template {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-color;
  text-decoration-color: $text-color !important;

  &:hover,
  &:active,
  &:focus {
    color: $text-color;
  }
}

.button-download-task {
  display: flex;
  align-items: center;
}

.search-container {
  background-color: $gray-250;
  border-radius: 5px;
  padding: 25px 32px;

  .search-title {
    font-size: rem(20px) !important;
    font-weight: $fw-bold !important;
    line-height: 24px;
  }

  .search-label {
    font-size: rem(16px) !important;
    font-weight: $fw-bold !important;
    line-height: 19px;
  }
}

.sub-title {
  font-size: 20px;
  font-weight: $fw-bold;
  color: $text-color;

  &-meta {
    font-size: 16px;
    font-weight: $fw-normal;
    margin-left: 10px;
  }
}

.search-keyword {
  font-size: rem(14px) !important;
  font-weight: $fw-normal !important;
  line-height: 17px;
}

.regulation-table {
  :global {
    .ant-table-thead {
      .ant-table-cell {
        padding-top: 6px !important;
        padding-bottom: 6px !important;
      }
    }
    .ant-table-cell {
      border-color: $border-color;

      &:first-child {
        min-width: 60px;
      }
    }

    .ant-table-cell:first-child + .ant-table-cell {
      border-left: 1px solid $border-color;
    }
  }
}

.divider {
  width: 1px;
  height: 14px;
  background-color: #8d8d8d;
  margin: 0 10px;
}

.section-action {
  display: flex !important;
  justify-content: flex-end !important;
  margin-top: 10px !important;

  .action-button {
    color: $text-color !important;

    &:disabled {
      svg {
        opacity: 0.8;
        path,
        rect {
          stroke: $gray-text;
        }
      }
    }
  }
}

.input-keyword {
  :global(.ant-input) {
    height: 28px !important;
  }
}

.edit-link {
  font-weight: $fw-bold;
  font-size: 16px;
}

.table-icon-edit {
  margin-left: 10px;
  margin-bottom: -4px;
}